@import "./partials/_variables";
// HTMLelement.style.backgroundImage = `url('${redditdata.data.url}')`
body {
  .title {
    // background-image: url(/assets/header_bg.svg);
    background-image: url(/assets/logo.svg);

    background-size: 800px 30px;
  }
  .menu {
    background-color: $global-grey;
    display: block;
  }

  // .content {
  //   background-image: url(/assets/bg.jpg);
  //   background-size: cover;
  // }

  .footer {
    background-color: $global-grey;
  }
}



//mobile
@media (min-width: 200px) {
 .content {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  }
};

//tablet
@media (min-width: 400px) {
  .content {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  }
};

//desktop
@media (min-width: 600px) {
  .content {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  }
};


//image should fill entire area of rectangular box : use background-size "cover"