@import "./partials/_variables";
// HTMLelement.style.backgroundImage = `url('${redditdata.data.url}')`
body {
  .title {
    background-image: url(/assets/header_bg.svg);
    background-image: url(/assets/logo.svg);

  }
  .menu {
    background-color: $global-grey;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #8994a5;

  }
  .footer {
    background-color: $global-grey;
    text-align: center;
    color: #8994a5;
    padding: 5px;
  }
}

#articleTitleBox {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-align: left;
}

#detailsBox {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-align: left;
}

#imageBox {
  background-size: cover;
  }


//mobile
@media (min-width: 200px) {
 #content {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  max-width: 400px;
  height: 800px;

  }
  .contentBox {
    background-color: white;
    border-style: solid;
    display: block;
    margin: auto;
    height: 200px;
    width: 100px;
    padding: 10px;


     #articleTitleBox {
      overflow: hidden;
      text-overflow: ellipsis;
    }

     #textSnipBox {
      overflow: hidden;
      text-overflow: ellipsis;

    }

    #imageBox {
      align-content: center;
    }

  }

};

//tablet
@media (min-width: 400px) {
  #content {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  max-width: 400px;
  height: 800px;
  padding: 40px;
    }
  .contentBox {
    border-style: solid;
    background-color: white;
    display: block;
    margin: auto;
    // height: 400px;
    // width: 300px;

     #articleTitleBox {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #textSnipBox {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #imageBox {

    }
  }
};

//desktop
@media (min-width: 600px) {
  #content {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  max-width: 1300px;
  height: 800px;
  }
  .contentBox {
    border-style: solid;
    background-color: white;
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;

    #articleTitleBox {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #textSnipBox {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #imageBox {

    }
  }
};


//image should fill entire area of rectangular box : use background-size "cover"